@using XCYN.MVC.Controllers;
@{
    ViewBag.Title = "Index";
}
<h2>定时框架</h2>
<table style="border:1px solid black">
    <tr>
        <th>Schedule名称</th>
        <th>Schedule编号</th>
        <th>Schedule是否启用</th>
        <th>Schedule是否关闭</th>
        <th>版本号</th>
        <th>Job数量</th>
        <th>操作</th>
    </tr>
    @{
        var obj = @ViewData["scheObj"] as ScheduleObject;
    }
    <tr>
        <td style="border:0px;padding:2px;">@obj.Name</td>
        <td style="border:0px;padding:2px;">@obj.ID</td>
        <td style="border:0px;padding:2px;">@(obj.IsStarted == "1" ? "启用" : "禁用")</td>
        <td style="border:0px;padding:2px;">@(obj.IsShutdown == "1" ? "启用" : "禁用")</td>
        <td style="border:0px;padding:2px;">@obj.Version</td>
        <td style="border:0px;padding:2px;">@obj.JobNumbers</td>
        <td style="border:0px;padding:2px;">
            <input type="button" value="暂停" id="button_sche_pause" />
            <input type="button" value="恢复" id="button_sche_resume"/>
            <input type="button" value="关闭" id="button_sche_close"/>
        </td>
    </tr>
</table>
<h2>Job设置</h2>
<h3>Job列表</h3>
<table>
    <tr>
        <th>Job名称</th>
        <th>Group名称</th>
        <th>描述</th>
        <th>是否持久化</th>
        <th>Job类型名称</th>
        <th>绑定的Trigger</th>
        <th>操作</th>
    </tr>
    @{
        var list_job = ViewData["jobObj"] as List<JobObj>;
    }
    @for (int i = 0; i < list_job.Count; i++)
    {
    <tr>
        <td>@list_job.ElementAt(i).Name</td>
        <td>@list_job.ElementAt(i).GroupName</td>
        <td>@list_job.ElementAt(i).Description</td>
        <td>@(list_job.ElementAt(i).IsDurable == true ? "是" : "否")</td>
        <td>@list_job.ElementAt(i).Type</td>
        <td>@list_job.ElementAt(i).Trigger</td>
        <td>
            <input type="button" value="删除" class="button_del" jobName="@list_job.ElementAt(i).Name" groupName="@list_job.ElementAt(i).GroupName" />
            <input type="button" value="暂停" class="button_pause" jobName="@list_job.ElementAt(i).Name" groupName="@list_job.ElementAt(i).GroupName" />
            <input type="button" value="恢复" class="button_resume" jobName="@list_job.ElementAt(i).Name" groupName="@list_job.ElementAt(i).GroupName" />
        </td>
    </tr>
    }
</table>
<h3>Job编辑</h3>
<form method="post" action="AddJob" id="formJob">
    <table>
        <tr>
            <td>Job名称</td>
            <td>
                <input type="text" name="jobName" />
            </td>
        </tr>
        <tr>
            <td>Group名称</td>
            <td>
                <input type="text" name="groupName" />
            </td>
        </tr>
        <tr>
            <td>Class名称</td>
            <td>
                <input type="text" name="className" />
            </td>
        </tr>
        <tr>
            <td>Namespace名称</td>
            <td>
                <input type="text" name="namespaceName" />
            </td>
        </tr>
        <tr>
            <td>Description</td>
            <td>
                <input type="text" name="description" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="button" value="提交" id="buttonAdd" />
            </td>
        </tr>
    </table>
</form>
<h2>Trigger设置</h2>
<h3>Trigger列表</h3>
<table>
    <tr>
        <th>Trigger名称</th>
        <th>Group名称</th>
        <th>描述</th>
        <th>开始执行时间</th>
        <th>上一次执行时间</th>
        <th>下次执行时间</th>
        <th>状态</th>
        <th>操作</th>
    </tr>
    @{
        var list_trigger = ViewData["triggerObj"] as List<TriggerObj>;
    }
    @for (int i = 0; i < list_trigger.Count; i++)
    {
    <tr>
        <td>@list_trigger[i].Name</td>
        <td>@list_trigger[i].GroupName</td>
        <td>@list_trigger[i].Description</td>
        <td>@list_trigger[i].StartTime</td>
        <td>@list_trigger[i].PreviousTime</td>
        <td>@list_trigger[i].NextTime</td>
        <td>@list_trigger[i].State</td>
        <td>
            @*<input type="button" value="删除" class="button_trigger_del" triggerName="@list_trigger.ElementAt(i).Name" groupName="@list_job.ElementAt(i).GroupName" />*@
            <input type="button" value="暂停" class="button_trigger_pause" triggerName="@list_trigger.ElementAt(i).Name" groupName="@list_trigger.ElementAt(i).GroupName" />
            <input type="button" value="恢复" class="button_trigger_resume" triggerName="@list_trigger.ElementAt(i).Name" groupName="@list_trigger.ElementAt(i).GroupName" />
        </td>
    </tr>
    }
</table>
<h3>Trigger编辑</h3>
<form method="post" action="AddTrigger" id="formTrigger">
    <table>
        <tr>
            <td>Trigger名称</td>
            <td>
                <input type="text" name="triggerName" />
            </td>
        </tr>
        <tr>
            <td>Trigger组名</td>
            <td>
                <input type="text" name="triggerGroupName" />
            </td>
        </tr>
        <tr>
            <td>描述</td>
            <td>
                <input type="text" name="description" />
            </td>
        </tr>
        <tr>
            <td>Corn名称</td>
            <td>
                <input type="text" name="cornExpression" />
            </td>
        </tr>
        <tr>
            <td>Job名称</td>
            <td>
                <input type="text" name="jobName" />
            </td>
        </tr>
        <tr>
            <td>Job组名</td>
            <td>
                <input type="text" name="jobGroupName" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="button" value="提交" id="buttonAddTrigger" />
            </td>
        </tr>
    </table>
</form>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script type="text/javascript">
    $("#buttonAdd").click(function () {
        console.log($("#formJob").serialize());
        $.post("AddJob", $("#formJob").serialize(), function (data) {
            //var obj = eval("(" + data + ")");
            if (data.code == "1") {
                alert("添加成功");
                location.reload();
            }
            else {
                alert(data.msg);
            }
        });
    });

    $(".button_del").click(function () {
        var jobName = $(this).attr("jobName");
        var groupName = $(this).attr("groupName");
        $.post("DeleteJob", { "jobName": jobName, "groupName": groupName }, function (data) {
            if (data.code == "1") {
                alert("删除成功");
                location.reload();
            }
            else {
                alert(data.msg);
            }
        });
    });

    $(".button_pause").click(function () {
        var jobName = $(this).attr("jobName");
        var groupName = $(this).attr("groupName");
        $.post("PauseJob", { "jobName": jobName, "groupName": groupName }, function (data) {
            if (data.code == "1") {
                alert("暂停成功");
                location.reload();
            }
            else {
                alert(data.msg);
            }
        });
    });

    $(".button_resume").click(function () {
        var jobName = $(this).attr("jobName");
        var groupName = $(this).attr("groupName");
        $.post("ResumeJob", { "jobName": jobName, "groupName": groupName }, function (data) {
            if (data.code == "1") {
                alert("恢复成功");
                location.reload();
            }
            else {
                alert(data.msg);
            }
        });
    });

    $("#buttonAddTrigger").click(function () {
        console.log($("#formTrigger").serialize());
        $.post("AddTrigger", $("#formTrigger").serialize(), function (data) {
            if (data.code == "1") {
                alert("添加成功");
                location.reload();
            }
            else {
                alert(data.msg);
            }
        });
    });

    $(".button_trigger_pause").click(function () {
        var triggerName = $(this).attr("triggerName");
        var groupName = $(this).attr("groupName");
        $.post("PauseTrigger", { "triggerName": triggerName, "groupName": groupName }, function (data) {
            if (data.code == "1") {
                alert("暂停成功");
                location.reload();
            }
            else {
                alert(data.msg);
            }
        });
    });

    $(".button_trigger_resume").click(function () {
        var triggerName = $(this).attr("triggerName");
        var groupName = $(this).attr("groupName");
        $.post("ResumeTrigger", { "triggerName": triggerName, "groupName": groupName }, function (data) {
            if (data.code == "1") {
                alert("恢复成功");
                location.reload();
            }
            else {
                alert(data.msg);
            }
        });
    });

    $("#button_sche_pause").click(function () {
        $.post("PauseSchedule", function (data) {
            if (data.code == "1") {
                alert("暂停成功");
                location.reload();
            }
            else {
                alert(data.msg);
            }
        });
    });

    $("#button_sche_resume").click(function () {
        $.post("ResumeSchedule", function (data) {
            if (data.code == "1") {
                alert("恢复成功");
                location.reload();
            }
            else {
                alert(data.msg);
            }
        });
    });

    $("#button_sche_close").click(function () {
        $.post("CloseSchedule", function (data) {
            if (data.code == "1") {
                alert("关闭成功");
                location.reload();
            }
            else {
                alert(data.msg);
            }
        });
    });

</script>