@model XCYN.Web.Controllers.Student
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary();
    @Html.TextBoxFor(b => b.Age);
    @Html.ValidationMessageFor(b => b.Age);

    @Html.TextBoxFor(b => b.Name);
    @Html.ValidationMessageFor(b => b.Name);

    <input type="submit" title="提交" />
}

